.nav {
    display: flex;
    background-color: teal;
    padding-bottom: 3rem;

    ul {
        display: flex;
        list-style: none;
        margin-left: 1rem;
        color: orange ;
        padding-top: 3rem;
        .logo{
            margin-right: 10rem;
            font-size: 2rem;
        }
        li{
            margin-left: 4rem;
            font-size: 4rem;
            color: white;
        }
        .shop{
            margin-left: 7rem;
            // margin-top: 1.5rem;
            button{
                font-size: 2.5rem;
                padding: 0 auto;
                width: 15rem;
                height: 100px;
                color: orange ;
                cursor: pointer;

                &:hover{
                    color: white;
                    background-color: rgba(255, 166, 0, 0.502);
                }
            }
        }
    }
}

.product {
    display: flex;
    width: 100%;

    .pro {
        width: 30%;
        margin-left: 3%;
    }
}